.container {
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #006700;
}
.list > :first-child:hover {
  cursor: pointer;
  background-color: #009a00;
}
.list > :first-child:hover > a {
  color: black;
}
.list li {
  padding: 10px;
  background-color: #004d00;
}
.list li a {
  padding: 5px;
  text-decoration: none;
  color: white;
}