.container {
  width: 60%;
  margin: 0 auto;
  border: 1px solid;
}

.box {
  height: 200px;
  text-align: center;
}

.box--have-green-border {
  border: 2px solid;
  border-color: green;
}

.box--have-red-border {
  border: 2px solid;
  border-color: red;
}