.container {
    width: 60%;
    margin: 0 auto;
    border: 1px solid;
}

.box {
    height: $box-height;
    text-align: center;
}

.box--is-green {
    background-color: $green-color;
}

.box--is-red {
    background-color: $red-color;
}