.container {
  width: 60%;
  margin: 0 auto;
  border: 1px solid;
}

.box {
  height: 200px;
  text-align: center;
}

.box--is-green {
  background-color: green;
}

.box--is-red {
  background-color: red;
}